@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo a nossa página web</h1>
    <p>
        Aqui nós lavamos seu carro com muito cuidado e amor.

        Aqui entra seu carro entra capenga e sai como um ferrari.
        </a>
    </p>
    <p>
        <strong>
            Agende já sua lavagem automotiva!
        </strong>

    </p>
</div>
